<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>INDEX</title>
</head>
<body>
<div>
    <p>
        <a th:href="@{/create-product}">Create new Product</a>
    </p>
    <div>
        <a th:href="@{'/'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
        <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
        <a th:href="@{'/'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
    </div>
    <table border="1">
        <tr>
            <th>id<a th:href="@{'/'(sort = DESC,target=id)}">↑</a>
                <a th:href="@{'/'(sort = ASC,target=id)}">↓</a>
            </th>
            <th>name<a th:href="@{'/'(sort = DESC,target=name)}">↑</a>
                <a th:href="@{'/'(sort = ASC,target=name)}">↓</a>
            </th>
            <th>price<a th:href="@{'/'(sort = DESC,target=price)}">↑</a>
                <a th:href="@{'/'(sort = ASC,target=price)}">↓</a>
            </th>
            <th>unit</th>
            <th>buy</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.unit}"></td>
                <td><a th:href="@{/buy-product/__${product.id}__ }">Buy</a></td>
                <td><a th:href="@{/edit-product/__${product.id}__ }">Edit</a></td>
                <td><a th:href="@{/delete-product/__${product.id}__ }">Delete</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>